<!DOCTYPE html>
<html ng-app="edwinApp">
<head lang="en">
    <title>Countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <script src="/angular/angular.js"></script>
    <script>
        angular.module('edwinApp', []).controller('MyController', function ($scope, $http){
            $http.get('http://uitr.herokuapp.com/countries').success(function(data){
                $scope.data = data;
            });
            
        });
    </script>
</head>
<body ng-controller="MyController">
    {{data}}

<script></script>
</body>
</html>